@import "../variables/variables";

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

hr {
  height: 1px;
  width: 100%;
  margin: 1rem 0;
  display: block;
  border: 0;
  background-color: color-mod(#000 alpha(10%));
}

:global(.styleguide__buttons) {
  & :global(.Button__container),
  & :global(.ButtonNext__container),
  & :global(.IconButton__container) {
    margin: 4px !important;
  }
}

:global(.styleguide__searchResultsButtons) {
  & > button {
    margin-right: 4px !important;
  }
}

:global(.WelcomeMessage__button) {
  padding: 8px 0 !important;
  display: inline-flex !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;
  margin-right: 30px !important;
  font-size: 16px !important;

  & :global(.WelcomeMessage__button__icon) {
    margin-right: 6px !important;
    color: currentColor !important;
  }
}

#rsg-root {
  main[class^="rsg--content"] {
    display: block;
    padding: 0 50px 16px;
    margin: 0 !important;
    max-width: 100% !important;
    section[data-testid^="section-section-containers"]
      > div[class^="rsg--wrapper"] {
      display: none;
    }
    div[class^="rsg--wrapper"] {
      margin: 10px 0px;
    }
    header[class^="rsg--header"] {
      padding: 16px 48px 8px;
      margin: 0 -48px 16px;
      line-height: 40px;
    }
    header[class^="rsg--header"] div h3 {
      font-size: 28px;
      font-weight: 700;
    }
    header[class^="rsg--header"] div h3 a:hover {
      text-decoration: none;
      cursor: initial;
    }
  }
}

